<div class="container-fluid">

  <div class="row">
    <div class="col">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary" (click)="cambiarCategoria('Mostrar')">Mostrar</button>
        <button type="button" class="btn btn-secondary" (click)="cambiarCategoria('Alta Event')">Alta Event</button>
        <button type="button" class="btn btn-secondary" (click)="cambiarCategoria('Modificar Event')">Modificar Event</button>
        <button type="button" class="btn btn-secondary" (click)="cambiarCategoria('Eliminar Event')">Eliminar Event</button>
      </div>
    </div>
  </div>

  <!--APRATADO DE MOSTRAR TABLA EVENTOS-->
  <div *ngIf="category === 'Mostrar'"class="row" style="margin-top: 1em;">
    <p>porfin lokoo</p>
  </div>

  <!--APRATADO DE ALTA EVENTOS-->
  <div *ngIf="category === 'Alta Event'"class="row" style="margin-top: 1em;">
   <app-alta-evento [events]="listaEventos"></app-alta-evento>
  </div>

</div>
