.col{
  margin-top: 5px;
  margin-bottom: 5px;
}

#titol{
  margin-top: 2px;
  font-family: Verdana;
}

.table{
  margin-top: 5px;
  margin-bottom: 0.5%;
}

.no-events{
  text-align: center;
  font-weight: bold;
  display: block;

}
.container{
  margin-top: 8%;
  margin-bottom: 10%;
}
.heading {
  margin-bottom: 5%;
  font-weight: bold;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.btn-group{
  margin-top: 2%;
}
