<section class="my-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, perspiciatis ullam omnis quos accusantium sed! Saepe dolore, nulla quo officiis nisi ad maxime. <strong>Quas dicta optio dolorum itaque minima repellat hic necessitatibus quis</strong>, cumque sit sed? Debitis sed natus ullam sequi unde, ipsam praesentium, rem sunt, maxime aperiam veritatis atque.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.<strong> Libero quaerat architecto harum? </strong>Inventore, quae? Est ratione molestiae nihil placeat libero, tenetur iure esse eligendi repudiandae quae dolore soluta expedita perferendis. Placeat architecto libero minus dolore commodi autem voluptatum temporibus eaque exercitationem. Corrupti natus illo, repudiandae quas reprehenderit excepturi quisquam qui. Earum explicabo facilis repudiandae voluptate voluptas ex culpa totam fugiat nostrum iure! Magnam ut similique earum, dignissimos nostrum ullam necessitatibus minima, quod quia laudantium odit dolorem. <strong>Omnis dolorem quos, id ad incidunt eius magni explicabo ducimus accusamus.</strong> molestiae, quasi animi tempora quo suscipit beatae atque est tenetur eius nam.</p>
        <img src="../../assets/mountain.svg">
        <p><strong> ipsum dolor sit, </strong>amet consectetur adipisicing elit. Nam, autem provident quo, perferendis fuga recusandae iste similique numquam veritatis explicabo facilis aliquam veniam eaque blanditiis nesciunt ullam temporibus cupiditate molestiae.</p>
      </div>
    </div>
  </div>

</section>

<script type="text/javascript" src="../inici/js/transparent-nav-scroll.js"></script>




