<div class="container-add" >
  <h1>{{accion}}</h1>
  <form class="cf">
    <div class="half left cf">
      <input type="text" id="input-name" #evento placeholder="Evento" >
      <input type="text" id="input-subject" #ubicacion placeholder="Ubicación">
      <input type="email" id="input-email" #email placeholder="Email">
      <label><input type="checkbox" id="input-check" #check>Aceptar Condiciones</label>
    </div>
    <div class="half right cf">
      <textarea name="message" type="text" #descrip id="input-message" placeholder="Descripción"></textarea>
      <input type="text" id="input-imagen" #imagen placeholder="Imagen">
    </div>
    <p class="mensajeError" style="color: red;">{{mensajeError}}</p>
    <input type="button" (click)="enviarDatosAdd(evento.value, ubicacion.value, email.value, descrip.value, imagen.value, check.checked)" value="Añadir" id="input-submit">
  </form>
</div>
