<div class="jumbotron jumbotron-fluid">
  <img class="img_home" src="../../assets/ComingSoon_home.png" alt="">
  <div class="container">
    <h1 class="display-4">Page In Progress!</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin et orci consequat, facilisis nisi nec, egestas metus. Cras et turpis mi. Proin egestas imperdiet turpis nec sodales. Pellentesque eget mi nec nunc sodales lacinia in id risus. Donec ut orci vel leo lobortis volutpat et et lectus. Etiam eu hendrerit augue. Sed a commodo urna. Aenean in dui sed dui venenatis vulputate.</p>
  </div>
</div>
