<div *ngIf="worker !== null" class="container-fluid">
  <div class="row">
    <div class="col">

      <div class="card" style="width: 18rem;">
        <img [src]="worker.imageURL" class="card-img-top" alt="">
        <div class="card-body">
          <p class="card-text">{{worker.name}} {{worker.apellido}}</p>
          <p class="card-text">Edad: {{worker.edad}}</p>
          <p class="card-text">Descripción: <br>{{worker.descripcio}}</p>
        </div>
      </div>

    </div>
  </div>
</div>
