<div class="imgContainer">
    <img src="../../assets/bc_header.jpg" class="img-fluid" alt="Responsive image">
  </div>
  <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <img class="icon_home" src="../../assets/icon_home.png" [routerLink]="['/error404']" routerLinkActive="active" alt="Home Icon">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <!--<a class="navbar-brand mb-0 h1" [routerLink]="['/home']" routerLinkActive="active" >Marc B</a>-->

        <li class="nav-item active">
          <a class="nav-link " [routerLink]="['/home']" routerLinkActive="active" >Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/eventos']" routerLinkActive="active" >Eventos</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/about-me']" routerLinkActive="active" >About-Me</a>
        </li>
      </ul>
    </div>
  </nav>
