.navbar{
  background: #56CCF2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.imgContainer {
  max-height: 300px;
  overflow: hidden;
}

.icon_home{
  max-width: 4%;
  height: auto;
}
